body {
    background-color: mediumpurple;
    font-family: Tahoma;
    font-size: 18px;
    line-height: 1.5;
}

h1, h2, h3 {
    color: rebeccapurple
}

a {
    color: white
}

p {
    color: white
}

ul {
    color: rebeccapurple
}